<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>send here!</title>
    <link rel="stylesheet" type="text/css" href="style/list_style.css"/>
    <style>
   body{
            font-family: 'Lato', sans-serif;
            background-color: #f8f8f8;
            margin: 0;
        }

    </style>
</head>
<body>
<div class="topnav"> <!--This is menu bar.-->
    <a th:href="@{'/'}" id="a1">HOME</a>
    <a th:href="@{'/about'}">ABOUT US</a>
    <a th:href="@{'/donate'}">DONATION</a>
    <a th:href="@{'/recommend'}">RECOMMENDED</a>
</div>

<br/><br/>
<h1 id="giftTitle">Please send the book to the address<br/>and contact number below!</h1>
<div class="square">
    <div id="applyForm">

        <p>It's very interesting!</p>

        <div id="s1">
                <p><b>Name</b></p>
                <p th:text="${name}"></p>
                <p><b>Address</b><p th:text="${address}"></p>
        </div>

    </div>
</div>
<br/><br/>
<div class="footNav"> <!--This is menu bar.-->
    <a th:href="@{'/about'}" style="margin-left: 20px;">About Us</a>
    <a href="#order">Privacy Statement</a>
    <a th:href="@{'/faq'}">FAQ</a>
    <a href="#contact">Site map</a>
    <a href="#" style="margin-left: 70%;" class="top"> &nbsp;TOP&nbsp; </a>
</div>
<footer>
    <br/><br/>
    <div style="margin-left: 40px;">
        <p>Team / Best Seller</p>
        <p>Member / Cheon, Ahyun &nbsp;|&nbsp; Kim, Jung Hoon &nbsp;|&nbsp; Lee, Eun Taek
        <p>Instagram / @a_hyun1000 &nbsp;|&nbsp; @hooonij  &nbsp;|&nbsp; @letoasis</p>
        <p>Address / 1, Cheongdaero, Seowon-gu, Cheoungju, Chungbuk</p>
        <p>COPYRIGHT(C)2019 BEST SELLER. ALL RIGHTS RESERVED. &nbsp;DESIGN BY BEST SELLER</p>
    </div>
    <br/><br/>
</footer>
</body>
</html>